<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="Nhom8_Assignment_tungntph02392ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=E:\test\Nhom8_Assignment_tungntph02392.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="Nhom8_Assignment_tungntph02392ConnectionString2" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\Nguyen Tien Tung\Downloads\test\test\Nhom8_Assignment_tungntph02392.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Nhom8_Assignment_tungntph02392.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
